

@media only screen and (min-width: 1200px) {
  #hamburger,
  #close {
    display: none !important;
  }

  .is-show {
    display: block !important;
  }

  .topbar {
    display: flex;
  }

  .l-header__nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  /* mouse over link */
a:hover {
  color: #ff0000;
}



}