

@media only screen and (min-width: 1200px) {
  #hamburger,
  #close {
    display: none !important;
  }

  .is-show {
    display: block !important;
  }

  .topbar {
    display: flex;
  }

  .l-header__nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  /* mouse over link */
a:hover {
  color: #ff0000;
}

.typography-table {
  width: 100%;
  border: 2px solid;
  margin-top: 20px;
}

th,
td {
  text-align: left;
  padding: 8px;
  border: 2px solid #171717; /* Light grey border for separation */
}

th {
  background-color: #f8f8f8; /* Light grey background for header */
}

/* Zebra striping for rows */
tr{
  background-color: #9cba87;
}



}