:root {
  /*Primary colour*/
    --clr-primary-100: #000000;
    --clr-primary-200: #374FAE; 
    --clr-primary-300: #7F2D8F;

    /* Secondary colour*/

    --clr-secondary-100: #a9a9a9;
    --clr-secondary-200: #c2b4cf;
    --clr-secondary-300: #bad1cb;

  /* accent colour*/

  --clr-accent-100: #f0edc2;
  --clr-accent-200: #494813;
  --clr-accent-300:  #F5F39E;

    --clr-light: #f0f0f0;
    --clr-black: #000000;
    --clr-white: white;
  

    /* Font families */
  font-family: 'Poppins', sans-serif;
  font-family: 'Lato', sans-serif;

    
    /* Font Sizes */
    --font-size-body: 1rem; 
  --font-size-h1: 2.25rem; 
  --font-size-h2: 1.875rem; 
  --font-size-h3: 1.5rem; 
  --font-size-h4: 1.25rem; 
  --font-size-h5: 1.125rem; 
  --font-size-h6: 1rem; 
  
    /* Font Weights */
    --font-weight-body: 400;
    --font-weight-heading: 700;
  
    /* Line Heights */
    --line-height-body: 1.5;
    --line-height-heading: 1.2;
  
    /* Letter Spacing */
    --letter-spacing-body: 0.5px;
  
  
  /* Utility Classes */
  .font-body {
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
    line-height: var(--line-height-body);
    letter-spacing: var(--letter-spacing-body);
    color: #333333; /* Type Colour */
  }
  
  .font-heading {
    font-family: var(--font-family-heading);
    font-weight: var(--font-weight-heading);
    line-height: var(--line-height-heading);
    
  }
  @media (min-width: 768px) {
    html {
      font-size: 14px; }
  }
  
  /* Specific heading sizes */
  .h1 { font-size: var(--font-size-h1); }
  .h2 { font-size: var(--font-size-h2); }
  .h3 { font-size: var(--font-size-h3); }
  .h4 { font-size: var(--font-size-h4); }
  .h5 { font-size: var(--font-size-h5); }
  .h6 { font-size: var(--font-size-h6); }
  

  /* Font families */
  font-family: 'Poppins', sans-serif;
  font-family: 'Lato', sans-serif;

  /* CSS Reset*/

  *, *::before, *::after {
    box-sizing: border-box;
  }
  body, 
  h1, 
  h2, 
  h3, 
  h4, 
  h5, 
  h6, 
  p, 
  figure, 
  picture {
    margin: 0;
  }

  /* Remove padding*/
  ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}