:root {
  /*Primary colour*/
    --clr-primary-100: #000000;
    --clr-primary-200: #374FAE; 
    --clr-primary-300: #7F2D8F;

    /* Secondary colour*/

    --clr-secondary-100: darkgrey;
    --clr-secondary-200: #c2b4cf;
    --clr-secondary-300: #bad1cb;

  /* accent colour*/

  --clr-accent-100: darkgrey;
  --clr-accent-200: #494813;
  --clr-accent-300:  #F5F39E;

    --clr-light: #f0f0f0;
    --clr-black: #000000;
    --clr-white: white;
  }

  /* CSS Reset*/

  *, *::before, *::after {
    box-sizing: border-box;
  }
  body, 
  h1, 
  h2, 
  h3, 
  h4, 
  h5, 
  h6, 
  p, 
  figure, 
  picture {
    margin: 0;
  }

  /* Remove padding*/
  ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }